/* footer.css */

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    /* Add necessary styling to make the footer stay at the bottom */
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    /* Set a higher z-index value to ensure it's displayed above other elements */
}

.footer p {
    margin-bottom: 5px;
    margin: 0;
    /* Add some spacing between the text and buttons */
}

.footer-buttons {
    display: flex;
    justify-content: center;
    /* Center the buttons horizontally */
    margin-top: 5px;
    /* Add some spacing between the text and buttons */
}

.footer-button {
    width: 30px;
    /* Adjust the width and height as needed */
    height: 30px;
    margin: 0 5px;
    /* Add some spacing between the buttons */
    cursor: pointer;
}
