/* navbar.css */
nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
}

li {
  margin-right: 10px;
}

a {
  color: #fff;
  text-decoration: none;
}

/* Mobile version styles */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    /* Align items to the left */
  }

  .header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
    /* Align header to the left and menu icon to the right */
    width: 100%;
    /* Take full width to push the menu icon to the right */
  }

  .header h2 {
    margin: 0;
  }

  .menu-icon {
    font-size: 20px;
    cursor: pointer;
  }

  ul {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    /* Align menu items to the right */
  }

  .menu-icon.open {
    display: block;
  }

  .dropdown-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}