/* projects.css */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Allow the container to grow and fill the available space */
    flex-grow: 1;
    /* Add some padding at the bottom to create space for the footer */
    padding-bottom: 80px;
    /* Adjust this value based on your footer's height */
}

.project-content {
    text-align: center;
}

.project-image-container {
    margin: 20px 0;
}

/* Mobile version styles */
@media (max-width: 768px) {
    .projects-container {
        /* Adjust container styling for mobile */
        width: 100%;
        /* Remove flex-grow to let the height be determined by content on mobile */
        flex-grow: initial;
        /* Adjust padding for mobile to create space for the footer */
        margin-bottom: 60px;
    }

    .project-content {
        /* Adjust text alignment and font size for mobile */
        text-align: center;
    }

    .project-image-container {
        /* Adjust image container margins for mobile */
        margin: 10px 0;
    }
}