/* project.css */
.project-content {
    text-align: center;
    padding: 0 45px;
    /* Add padding to create space on both sides */
}

.project-content p {
    text-align: left;
    line-height: 1.5;
    /* Adjust this value to increase or decrease the line spacing */
}

.project-image-container {
    margin: 20px 0;
    text-align: center;
}

.project-image-container img {
    max-width: 50%;
    height: auto;
}