/* project.css */
.project-content {
    text-align: center;
    padding: 0 45px;
    /* Add padding to create space on both sides */
}

.project-content p {
    text-align: left;
    line-height: 1.5;
    /* Adjust this value to increase or decrease the line spacing */
}

.project-image-container {
    margin: 20px 0;
    text-align: center;
}

.project-image-container img {
    max-width: 50%;
    height: auto;
}


/* Media queries for responsive design */

/* Adjust padding for smaller screens */
@media screen and (max-width: 768px) {
    .project-content {
        padding: 0 20px; /* Adjust padding for smaller screens */
    }
}

/* Further adjust padding for even smaller screens */
@media screen and (max-width: 480px) {
    .project-content {
        padding: 0 10px; /* Further adjust padding for even smaller screens */
    }
}